@page "/BinaRaz"
@using BlazorApp.Services
@inject NavigationManager navigationManager


<EditBina></EditBina>
<hr />
<h3>Binalar</h3>
@if (MyDataResult == null)
{
<div class="spinner-grow text-primary" role="status">
    <span class="sr-only">Loading...</span>
</div>
}
else
{
@foreach (var item in MyDataResult)
{

    <table class="table">
        <thead>
            <tr>
                
                <th scope="col">Bina Adı</th>
                <th scope="col">Adres</th>
                <th scope="col">Kat Sayısı</th>
                <th scope="col">Bina Yaşı</th>

            </tr>
        </thead>
        <tbody>
            <tr>
             
                <td>@item.BinaAdi</td>
                <td>@item.Adres</td>
                <td>@item.KatSayisi</td>
                <td>@item.Yasi</td>
                <td>
                    <button class="btn btn-primary" @onclick="(()=>ShowDetail(item.BinaId))">Detay Görüntüle</button>
                </td>
                <td>
                    <button class="btn btn-primary" @onclick="(()=>DeleteBina(item.BinaId))">Binayı Sil</button>
                </td>

            </tr>
            
        </tbody>
    </table>

    }
}

@code {
    [Inject]
    public IBuldingAppService buildingAppService { get; set; }
    public List<Bina> MyDataResult { get; set; }

    protected override async Task OnInitializedAsync()
    {
        MyDataResult = (await buildingAppService.BinalariGetir()).ToList();
    }
    void ShowDetail(int id)
    {
        navigationManager.NavigateTo($"binadetail/{id}");
    }
    void DeleteBina(int id)
    {
        buildingAppService.DeleteBina(id);
    }


}

