@page "/"

<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Evettt!</h4>
    <p>Oda veya depo arıyorsan doğru siteye geldin...</p>
    <hr>
    <p class="mb-0">Hemen Sol Sekmeden ne arıyorsan tıkla ve aradığını bul....</p>

  
</div>
